<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <title>All Lords</title>

</head>
<body>
<div layout:fragment="replace_fragment">
    <div th:object="${lord}">
        <form method="post" action="/saveLord">
            <div class="row my-3">
                <div class="col-auto">
                    <label for="name">Name</label>
                    <input id="name" th:field="*{name}" type="text" name="name"
                           placeholder="Enter your name my Lord" class="form-control"/>

                </div>
                <div class="col-auto">
                    <label for="age">Age</label>
                    <input id="age" th:field="*{age}" class="form-control" type="text" name="age" placeholder="write your tag"/>
                </div>
                <div class="row my-3">
                    <div class="col-auto">
                        <button type="submit" name="submit" class="btn btn-primary">add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>