<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <title th:text="${message}">All Lords</title>
</head>
<body>
<div layout:fragment="replace_fragment">
    <h2 th:text="${message}">All lord</h2>
    <div class="row" th:each="lord : ${lords}" id="lord">
        <div class="col">
            <p th:text="${lord.name}"></p>
        </div>
        <div class="col">
            <p th:text="${lord.age}"></p>
        </div>
        <div class="col">
            <a class="btn btn-primary" th:href="@{/selectPlanet/{id}(id=${lord.id})}">add planet</a>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <a class="btn btn-primary" th:href="@{/addLord}" >new lord</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" th:href="@{/planets}" >show all planet</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" th:href="@{/lazy}" >show lazy lords</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" th:href="@{/young}" >The youngest lords</a>
        </div>
    </div>

</div>
</body>
</html>